<% if user_signed_in? %>
  <div class="row">
    <div class="col-md-12">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
<% else %>
  <div class="home-top jumbotron jumbotron-fluid jumbotron-extend">
    <div class="container home-text">
      <h1>Studireへようこそ</h1>
      <%= link_to '会員登録はこちら', new_user_registration_path, class: 'btn btn-lg btn-primary home-link' %>
    </div>
  </div>
  <div class="home-render">
    <%= render 'posts/posts', posts: @posts%>
  </div>
<% end %>