/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$default-color: #464646;
$light: #818181;
$link-color: #076fa7;
$visited-color: #6e6e6e;

@mixin background {
  background-color: #fff;
  border: 1px solid #e0e4e7;
  border-radius: 2px;
}

@mixin circle {
  border: 1px solid #fff;
  border-radius: 15%;
}

// 基本設定

html {
  font-size: 15px;
}

body {
  background-color: #f8f8f8;
}

p {
  color: $default-color;
  line-height: 2;
}

footer {
  background-color: #fff;
  border-top: 1px solid #e0e4e7;
  border-radius: 2px;
  margin-top: 20px;
  text-align: center;
  p {
    color: $light;
    font-size: 0.7rem;
    margin: 0;
    padding: 5px 0;
  }
}

// home
.jumbotron {
  background-image: url("header.jpg");
  background-size: cover;
}

.jumbotron-extend {
  position: relative;
  height: 70vh;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-header {
  text-align: center;
  h1 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  p {
    color: rgb(196, 196, 196);
  }
  .home-button-wrapper {
    margin: 20px;
  }
  .home-separator {
    color: #fff;
    margin: 5px 0;
  }
  .home-button {
    border: 2px solid #0a9cec;
    border-radius: 7px;
    color: #0a9cec;
    padding: 7px 15px;
    &:hover {
      background-color: rgba(240, 240, 240, 0.253);
    }
  }
}

.ransack-tag-title {
  background-color: #fff;
  border-left: 4px solid #0075cf;
  color: $default-color;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 10px 20px;
}

.tag-cloud {
  @include background;
  padding: 10px 20px;
  a {
    background-color: #eeeeee;
    border: 1px;
    border-radius: 5px;
    color: $link-color;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 5px 5px 5px 0;
    padding: 2px 8px;
    &:hover {
      background-color: #dadada;
      color: $link-color;
      text-decoration: none;
    }
  }
}

.tag-title {
  border-left: 4px solid #0075cf;
  color: $default-color;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 10px 20px;
}

// pagination
.pagination {
  .page-link {
    color: $link-color;
  }
  .page-item.active {
    .page-link {
      background-color: $link-color;
      border-color: $link-color;
    }
  }
}

//navbar

.btn-search {
  background-color: #fff;
}

.nav-form {
  border: solid 2px #e0e4e7;
  border-radius: 7px;
  padding: 5px;
}

// user

.user-wrapper {
  @include background;
  color: $default-color;
  margin-top: 45px;
  margin-bottom: 20px;
  padding: 30px;
}

// user&session new

.user-new-title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 20px 0px;
}

.sns-login {
  padding-top: 10px;
}

.btn-twitter {
  color: #fff;
  background-color: #1ca1f3;
  &:hover {
    background-color: #288fd4;
    color: #fff;
  }
}

// user edit
.user-edit-wrapper {
  @include background;
  color: $default-color;
  margin-top: 45px;
  margin-bottom: 45px;
  padding: 30px;
}

.user-edit-image-circle {
  @include circle;
}

.count-default {
  color: $light;
  font-size: 0.8rem;
}

.count-danger {
  color: #df235e;
  font-size: 0.8rem;
}

.user-edit-title {
  margin-bottom: 20px;
  font-size: 1.4rem;
  a {
    color: #555555;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.user-edit-label {
  color: $default-color;
  font-size: 0.95rem;
  font-weight: 600;
}

.user-destroy-button {
  font-size: 1.5rem;
}

//user show
.user-show-aside {
  @include background;
  color: $default-color;
}

.show-profile-image-circle {
  @include circle;
  margin-top: 1rem;
  width: 100%;
}

.user-show-name {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.6rem 0;
}

.user-show-profile {
  font-size: 0.85rem;
}

.user-show-to-edit {
  color: #555555;
  font-size: 0.8rem;
  &:hover {
    color: #555555;
  }
}

.follow-button {
  border-color: #1ca1f3;
  border-radius: 10px;
  color: #1ca1f3;
  font-size: 0.8rem;
  padding: 0.2rem 1rem;
  &:hover {
    background-color: rgb(214, 214, 214);
  }
}

.unfollow-button {
  background-color: #1ca1f3;
  border-color: #1ca1f3;
  border-radius: 10px;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.2rem 1rem;
  &:hover {
    background-color: rgb(211, 39, 39);
    border-color: #fff;
    font-size: 0.8rem;
    padding: 0.2rem 1rem;
  }
}

.tab-header {
  a {
    color: $light;
    &:hover {
      color: #0a9cec;
    }
  }
  .nav-link.active {
    border-bottom: 3px solid #0a9cec;
    color: #0a9cec;
  }
}

.my-tab-content {
  background-color: #fff;
  border: solid hsl(206, 13%, 89%);
  border-radius: 2px;
  border-width: 0px 1px 1px 1px;
  padding: 0;
}

// _user

.user-media {
  padding-left: 40px;
  color: $default-color;
  hr {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}

.user-media-content {
  margin: 0;
  text-align: left;
  width: 70%;
  a {
    color: $link-color;
    font-size: 0.9rem;
  }
  p {
    margin: 0;
    font-size: 0.9rem;
  }
}

.user-media-follow-button {
  margin: 0;
  text-align: right;
}

// _post

.post-media {
  padding: 0 20px;
  color: $default-color;
  img {
    margin-top: 0.5rem;
  }
  hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.post-media-content {
  margin: 0;
  .post-media-name {
    color: $link-color;
    font-size: 0.8rem;
  }
  span {
    color: $light;
    font-size: 0.8rem;
  }
}

.post-media-title {
  color: $default-color;
  font-size: 1.05rem;
  font-weight: 700;
  &:visited {
    color: $visited-color;
  }
  &:hover {
    color: $default-color;
    font-weight: 700;
  }
}

.post-index-tag {
  margin: 0;
  color: $light;
  font-size: 0.8rem;
  a {
    background-color: #eeeeee;
    border: 1px;
    border-radius: 5px;
    color: $default-color;
    margin: 5px 5px 5px 0;
    padding: 0.1rem 0.3rem;
    &:hover {
      background-color: #dadada;
      text-decoration: none;
    }
  }
}

//post new edit

.post-new-edit-title {
  margin: 30px 0;
  font-size: 2rem;
}

.post-new-edit-label {
  margin-top: 20px;
  font-weight: 600;
}

// post show

.post-user-image {
  @include circle;
}

.post-show-user-name {
  color: $default-color;
}

.post-edit-destroy {
  color: $light;
  margin-right: 4px;
  &:hover {
    color: $light;
  }
}

.post-show-title {
  margin-top: 10px;
  h1 {
    font-size: 3.5rem;
    font-weight: 700;
    font-feature-settings: "palt";
  }
}

.post-show-tag {
  margin-top: 20px;
  color: $light;
  font-size: 1rem;
  a {
    background-color: #eeeeee;
    border: 1px;
    border-radius: 5px;
    color: $default-color;
    margin-right: 7px;
    padding: 0.2rem 0.3rem;
    &:hover {
      background-color: #dadada;
      text-decoration: none;
    }
  }
}

.post-show-content {
  margin-bottom: 70px;
  h1 {
    border-bottom: 5px solid #cecfcf94;
    font-size: 2rem;
    font-feature-settings: "palt";
    font-weight: 700;
    line-height: 1.5;
    margin: 80px 0 20px 0;
  }
}

.good-button {
  border: 2px solid #2294f1;
  color: #2294f1;
  &:hover {
    background-color: rgb(238, 238, 238);
    color: #2294f1;
  }
}

.good-button-now {
  background-color: #2294f1;
  border: 2px solid #2294f1;
  color: #fff;
  &:hover {
    background-color: #66ade7;
    border-color: #66ade7;
    color: #fff;
  }
}

.post-show-user-profile {
  @include background;
  padding: 20px 0 10px 0;
  a {
    color: $default-color;
    font-size: 0.9rem;
    font-weight: 600;
  }
  p {
    color: $light;
    font-size: 0.8rem;
  }
}

.post-comment-media-header {
  h4 {
    font-size: 1.4rem;
  }
  p {
    border-bottom: 1px solid #e0e4e7;
    border-top: 1px solid #e0e4e7;
    padding: 60px 0;
    text-align: center;
  }
}

.post-comment-media {
  a {
    color: $link-color;
  }
  span {
    font-size: 0.9rem;
  }
  hr {
    margin: 20px 0;
  }
  .post-comment-content {
    position: relative;
    display: block;
    margin-top: 1.5em;
    padding: 20px 30px;
    color: #555;
    font-size: 16px;
    background: #fff;
    border: solid 1px #e0e4e7;
    box-sizing: border-box;
    &:before {
      content: "";
      position: absolute;
      top: -24px;
      left: 4%;
      margin-left: -15px;
      border: 12px solid transparent;
      border-bottom: 12px solid #fff;
      z-index: 2;
    }
    &:after {
      content: "";
      position: absolute;
      top: -30px;
      left: 4%;
      margin-left: -17px;
      border: 14px solid transparent;
      border-bottom: 16px solid #e0e4e7;
      z-index: 1;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
}

.post-show-comment-area {
  border: 1px solid #e0e4e7;
  border-radius: 2px;
  margin-top: 30px;
}

.post-show-comment-form-header {
  background-color: #0a9cec;
  color: #fff;
  padding: 10px;
}

.post-show-comment-label {
  display: inline-block;
  font-weight: 600;
}

// sharelink
.twitter {
  color: #fff;
  background-color: #1ca1f3;
  border-radius: 2px;
  padding: 3px 5px;
  &:hover {
    background-color: #288fd4;
    color: #fff;
    text-decoration: none;
  }
}

.facebook {
  color: #fff;
  background-color: #3b5999;
  border-radius: 2px;
  padding: 3px 5px;
  &:hover {
    background-color: #263f74;
    color: #fff;
    text-decoration: none;
  }
}
.line {
  color: #fff;
  background-color: #1dcd00;
  border-radius: 2px;
  padding: 3px 5px;
  &:hover {
    background-color: #17af00;
    color: #fff;
    text-decoration: none;
  }
}
