/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// 基本設定

body {
  background-color: #f7f7f8;
}

.container-fluid {
  padding: 0;
}

// home
.jumbotron {
  background-image: url("header.jpg");
  background-size: cover;
}

.home-top {
  width: 100%;
  h1 {
    color: #ffffff;
    margin-left: 10px;
  }
}

.home-text {
  margin-top: 20px;
}
.home-link {
  text-align: right;
}

.jumbotron-extend {
  position: relative;
  height: 35vh;
  min-height: 200px;
}

// user new

.new-user-title {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 20px 0px;
}

.btn-twitter {
  color: #fff;
  background-color: #1ca1f3;
  &:hover {
    background-color: #288fd4;
  }
}

a.btn-twitter:hover {
  color: #fff;
}

.sns-login {
  padding-top: 10px;
}

// user sessions new

// post
// p {
//   color: #26343a;
//   font-size: 15px;
// }

// a {
//   color: #333333;
//   font-weight: 700;
//   text-decoration: none;
//   &:hover {
//     color: #333333;
//   }
// }
