<% if model.errors.any? %>
      <div class="alert alert-warning">
        <ul>
          <% model.errors.full_messages.each do |message| %>
            <li class="text-center"><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
