<% if model.errors.any? %>
  <div class="alert alert-warning">
    <ul class="text-center">
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
