<% if model.errors.any? %>
  <div class="alert alert-warning">
    <% model.errors.full_messages.each do |message| %>
      <div class="text-center"><%= "※#{message}" %></div>
    <% end %>
  </div>
<% end %>
